@{
    ViewData["Title"] = "Registration Page";
}

<a href="Login">Login</a>
<hr />
<div class="text-center">
    <form method="post">
        <fieldset>
            <legend>Registration</legend>
            <div>
                <label for="companyName">Company Name:</label>
                <input type="text" name="companyName" value="" />
            </div><br />
            <div>
                <label for="contactName">Contact Name:</label>
                <input type="text" name="contactName" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>

    </form>

</div>
