@{
    ViewData["Title"]="Delete Student";
}


<div class="text-center">
    <h3><b>Delete Student Record</b></h3>
    <form method="post">
        Enter Id:
        <input type="number" name="Id">
        <button type="submit">Submit</button>
    </form>
</div>