@using BOL;
@{
    ViewData["Title"]="Insert Student";
}

<div align="center">
    <h3><b>Enter Student Information</b></h3>
    <hr/>
    <form method="post">
        Enter Id=
        <input type="number" name="Id"><br/><br/>
        Enter First Name=
        <input type="text" name="Fname"><br/><br/>
        Enter Last Name=
        <input type="text" name="Lname"><br/><br/>
        Enter Contact=
        <input type="text" name="Contact"><br/><br/>
        Enter City=
        <input City="text" name="City"><br/><br/>
        <button type="submit">Submit</button>
        
    </form>

</div>