@{
    ViewData["Title"]="Update Student Info";
}

<div class="text-center">
    <h3><b>Update Student Information</b></h3><hr/>
    <form method="post">
        Enter Student Id to Update:
        <input type="number" name="Id">
        <h4><b>Enter Student Information</b></h4>
        Enter First Name:
        <input type="text" name="Fname"><br/><br/>
        Enter Last Name:
        <input type="text" name="Lname"><br/><br/>
        Enter Contact:
        <input type="text" name="Contact"><br/><br/>
        Enter City:
        <input type="text" name="City"><br/><br/>
        <button type="submit">Submit</button>
    </form>
</div>