@{
    ViewData["Title"]="Delete Product";
}

<div class="text-center">
<h3><b>Delete Product</b></h3>
<hr/>
<form method="Post">
Enter Id: 
<input type="number" name="Pid"/>
<button type="submit">Submit</button>
</form>
</div>


