@{
    ViewData["Title"]="New Product";
}

<div class="text-center">
<h3><b>Insert New Product</b></h3>
<hr/>
<form method="Post">
    Product Id:
    <input type="number" name="id"/><br/><br/>
    Product Name:
    <input type="text" name="name"/><br/><br/>
    Product Quantity:
    <input type="number" name="qty"/><br/><br/>
    Product Price:
    <input type="number" name="price"/><br/><br/>
    <button type="submit">Submit</button>
</form>




</div>

