@{
    ViewData["Title"]="Update Procduct";
}

<div class="text-center">
<form method="Post">
    Enter Id of Product you want to update:
    <input type="number" name="id"/>
    <h4><b>Enter Information</b></h4><br/>
    Product Id:
    <input type="number" name="id"/><br/><br/>
    Product Name:
    <input type="text" name="name"/><br/><br/>
    Product Quantity:
    <input type="number" name="qty"/><br/><br/>
    Product Price:
    <input type="number" name="price"/><br/><br/>
    <button type="submit">Submit</button>
</form>

</div>