@page
@using Catalogue
@{
    Product p = new Product();
    p.Title = "Rose";
    p.Description = "Valentine Flower";
    p.UnitPrice = 20;
    p.Quantity = 10;

}

<h2>Product Catalogue</h2>
<p>Title: @p.Title</p>
<p>Description: @p.Description</p>
<p>UnitPrice: @p.UnitPrice</p>
<p>Quantity: @p.Quantity</p>
<button>Add To Cart</button>